.intro-slider-1 .banner-content {
	width: 62%;
}

.header-middle {
	padding: 1rem 6.4rem;
}

.sticky-header.fixed img {
	max-width: 62%;
}
.sticky-header.fixed h1 {
	margin-top: 0 !important;
}

.bg-section-7 {
	background-image: url(../../images/bg1.jpg);
	background-position: 50% bottom;
}

.btn::before {
	    background-color: #b8d36e;	
}

.btn span {
	color: #fff;
}

.intro-slide {
	padding: 18.6rem 0 21.5rem 0;
}
.banner-img {
	width: 38%;
}

.map-section-1 {
	padding-bottom: 0;
}

.sign-form {
	position: inherit !important;
	left: 0;
	top: 0;
	-webkit-transform: inherit;
}

.bg-section-18 {
    background-attachment: fixed;
}
.signup-section {
    padding: 12rem 0 20rem 0;
}

@media only screen and (max-width: 768px) {
  .banner-img {
  	display: none;
  }
  .intro-slide {
  	padding-bottom: 10rem;
  }
  .header-logo {
  	width: 66px;
  }
  .banner-content {
  	margin-top: 1rem;
  }
  .logo h1 {
  	margin-top: 1rem !important;
  }
}